<div class="container">
  <div class="avatar">
    <app-avatar #avatar
                (avatarChanged)="prepareLink()"
                [clothing]="clothing.name"
                [clothingGraphic]="clothingGraphic.name"
                [colors]="getColorsObject()"
                [hairType]="hairType.name"
                [shape]="shape"
                [enableBackground]="_enableBackground"
    >
    </app-avatar>
  </div>
  <div>
    <div class="box">
      <button (click)="goCompletelyRandom()"><div class="random"></div>{{_texts.everything}}</button>
      <button (click)="getRandomColors()"><div class="random"></div>{{_texts.allColors}}</button>
      <ng-container *ngIf="_enableBackground">
        <h4 class="spacing">{{_texts.background}}</h4>
        <input type="color" [(ngModel)]="colors.background"/>
        <button (click)="colors.background = randomizeColor();"><div class="random small"></div></button>
      </ng-container>
    </div>

    <div class="box">
      <h3>{{_texts.skin}}</h3>
      <input type="color" [(ngModel)]="colors.skin"/>
      <button (click)="colors.skin = randomizeColor();"><div class="random small"></div></button>
    </div>

    <div class="box">
      <h3>{{_texts.hair}}</h3>
      <div>
        <div class="flex">
          <div>
            <input type="color" [(ngModel)]="colors.hair"/>
            <button (click)="colors.hair = randomizeColor();"><div class="random small"></div></button>
          </div>
          <div>
            <div><span class="iteration">{{_texts.hairStyle}} {{hairType.index}}</span></div>
            <button (click)="iterateOverHairTypes(false)"><</button>
            <button (click)="iterateOverHairTypes(true)">></button>
            <button (click)="getRandomHairStyle()"><div class="random small"></div></button>
          </div>
        </div>
        <div *ngIf="hairType.name === HairTypes.FRIDA || hairType.name === HairTypes.FROANDBAND">
          <h4>{{_texts.accessory}}</h4>
          <input type="color" [(ngModel)]="colors.accessory"/>
          <button (click)="colors.accessory = randomizeColor();"><div class="random small"></div></button>
        </div>
      </div>
    </div>

    <div class="box">
      <h3>{{_texts.clothes}}</h3>
      <div>
        <div class="flex">
          <div>
            <input type="color" [(ngModel)]="colors.clothes"/>
            <button (click)="colors.clothes = randomizeColor();"><div class="random small"></div></button>
          </div>
          <div>
            <div><span class="iteration">{{_texts.clothing}} {{clothing.index}}</span></div>
            <button (click)="iterateOverClothingTypes(false)"><</button>
            <button (click)="iterateOverClothingTypes(true)">></button>
            <button (click)="getRandomClothing()"><div class="random small"></div></button>
          </div>
        </div>
        <ng-container *ngIf="clothing.name === ClothingTypes.GRAPHIC_SHIRT">
          <h4>{{_texts.print}}</h4>
          <div class="flex">
            <div>
              <input type="color" [(ngModel)]="colors.graphic"/>
              <button (click)="colors.graphic = randomizeColor();"><div class="random small"></div></button>
            </div>
            <div>
              <div><span class="iteration">{{_texts.print}} {{clothingGraphic.index}}</span></div>
              <button (click)="iterateOverClothingGraphicTypes(false)"><</button>
              <button (click)="iterateOverClothingGraphicTypes(true)">></button>
              <button (click)="getRandomClothingGraphic()"><div class="random small"></div></button>
            </div>
          </div>
        </ng-container>
      </div>
    </div>

    <button *ngIf="_displayDownload" class="download" (click)="doDownload()">{{_texts.download}}</button>

  </div>
</div>



